<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="tunnel.util.MultiColumnLogbackLayout">
                <pattern>%highlightex(%wrap(%8.8rs | %5p | %-15.15logger{25} | ##split##%m%n))</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
